@CHARSET "UTF-8";

.centerbox {
	
	height:480px;
	width:620px;
	padding: 25px 15px 5px 25px;
	background-color: #dddddd;
	color: #00000;
	font-family: Arial;
	font-size: 12pt;
	border: 2px solid #00000;
	margin-top:-150px;
	margin-bottom:2px;
	margin-left:100px;
	margin-right:2px;
	
}

.leftbox {
	
	height:500px;
	width:80px;
	padding: 5px 5px 5px 5px;
	background-color: #dddddd;
	color: #00000;
	font-family: Verdana;
	font-size: 10pt;
	border: 2px solid #00000;
	margin-top:20px;
	margin-bottom:2px;
	margin-left:15px;
	margin-right:1px;
}

.mainbox {
	
	height: 550px;
	width:800px;
	padding: 2px 2px 2px 2px;
	background-color: white;
	border: 3px solid #23599B;
	margin-top:40px;
	margin-bottom: 50px;
	margin-left:150px;
	margin-right: 50px;
}